<p id="notice"><%= notice %></p>

<h1> Entrar </h1>

<%= render 'shared/show_flashes' %>

<%= form_for(:session, url: signin_path) do |f| %>
	<p>
	<%= f.label 'Nome de Usuário' %>
	<%= f.text_field :username %>
	</p>
	<p>
	<%= f.label 'Senha' %>
	<%= f.password_field :password %>
	<%= link_to 'Esqueci a senha', new_password_reset_path %>
	</p>
	<p>
	<%= f.label :remember_me do %>
		<%= f.check_box :remember_me %>
		<span> Mantenha-me conectado </span> 
	<% end %>
	</p>
	<p><%= f.submit 'Entrar' %>	</p>
<% end %>
<p>Ainda não tem uma conta? <br><%= link_to "Cadastre-se agora!", signup_path %></p>
