<p id="notice"><%= notice %></p>

<h1> Esqueci a senha </h1>

<%= render 'shared/show_flashes' %>

<%= form_for(:password_resets, url: password_resets_path) do |f| %>
	<p>
	<%= f.label :email %>
  <%= f.text_field :email %>
	<p>
	<p><%= f.submit 'Enviar' %>	</p>
<% end %>