<p id="notice"><%= notice %></p>

<h1> Esqueci a senha </h1>

<% if flash.any? %>
	<div data-alert class="alert-box alert radious">
		<% flash.each do |name, msg| -%>
		  <%= content_tag :div, msg, class: name %>
		<% end -%>
		<a href="#" class="close">&times;</a>
	</div>
<% end %>

<%= form_for(:password_resets, url: password_resets_path) do |f| %>
	<p>
	<%= f.label :email %>
  <%= f.text_field :email %>
	<p>
	<p><%= f.submit 'Enviar' %>	</p>
<% end %>