<div class="row">
  <div class="small-12 columns">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <div class="large-0 pull-0 columns">
          <nav class="top-bar show-for-medium-up" data-topbar>
            <ul class="title-area">
              <li class="name">
                <h1><a href="#">Ranking Área de Investimento x Parlamentares</a></h1>
              </li>
            </div>
            <div style="width:400px;height:400px;line-height:3em;overflow:scroll;padding:5px;">
          <ul class="off-canvas-list">
             <!--<% @themes.each do |theme| %>
            <li><%= theme.description %>(<%= theme.propositions.count %>)</li>
             <% end %>-->
           </ul>

            <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>-->
          <ul class="side-nav">
            <li class="toggle-topbar menu-icon">
            <% @themes.each do |theme| %>
           <li><a href="#"<span> <%= theme.description %> (<%= theme.propositions.count %>) </span></a></li></li>
            <% end %>
          </ul>
        </div>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
          </section>
        </nav>
        </div>
            <section class="top-bar-section">
              <!-- Right Nav Section -->
            </section>
          </nav>
        <nav class="tab-bar show-for-small">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
        </nav>
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Início', root_url %></a></li></a></li> 
            <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Rankings', rankings_path %></a></li></a></li>
            <li><a href="#"><li class="active"><a target="_blank">Quiz</a></li></a></li>
            <li><a href="#"><li class="active"><a target="_blank">Sobre</a></li></a></li>
            <% if signed_in? %>
            <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Perfil', current_user %></a></li></a></li>
            <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Sair', signout_path,  method: 'delete' %></a></li></a></li>
            <% else %>
            <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Entrar', signin_path %></a></li></a></li>
            <li><a href="#"><li class="active"><a target="_blank"><%= link_to 'Cadastrar', signup_path %></a></li></a>
            <% end %>
          </ul>
        </aside>
        <div style="width:400px;height:400px;line-height:3em;overflow:scroll;padding:5px;">
          <ul class="side-nav">
            <li class="toggle-topbar menu-icon">
              <% @themes.each do |theme| %>
                <li><a href="#"<span> <%= theme.description %> (<%= theme.propositions.count %>) </span></a></li></li>
              <% end %>
          </ul>
        </aside>
        </div>
        <div style="width:583px;height:400px;line-height:3em;overflow:scroll;padding:5px;">
        </div>
       <a class="exit-off-canvas"></a>
       </div>
     </div>
   </div>
</div>
</div>