<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<table>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<tr>
		<th>Nome</th>
		<th>Proposiçỗes</th>
		</tr>
	<% @themes.each do |theme| %>
		<tr>
			<td><%= theme.description %></td>
        <td><%= theme.propositions.count %></td>
			</tr>
	<% end %>
		<p>
			
			<%= pie_chart @themes.joins(:propositions).group(:description).count %>
		</p>
</table>
