<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<table>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<tr>
		<th>Nome</th>
		<th>Proposiçỗes</th>
		</tr>
	<% @themes.each do |theme| %>
		<tr>
			<td><%= theme.description %></td>
        <td><%= theme.propositions.count %></td>
			</tr>
	<% end %>
		<p>
			<%= pie_chart [[@themes[0].description, @themes[0].propositions.count],
                          [@themes[1].description, @themes[1].propositions.count],
                          [@themes[2].description, @themes[2].propositions.count],
                          [@themes[3].description, @themes[3].propositions.count],
                          [@themes[4].description, @themes[4].propositions.count],
                          [@themes[5].description, @themes[5].propositions.count],
                          [@themes[6].description, @themes[6].propositions.count],
                          [@themes[7].description, @themes[7].propositions.count],
                          [@themes[8].description, @themes[8].propositions.count],
                          [@themes[9].description, @themes[9].propositions.count],
                          ] %>
		</p>
</table>