<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>

   <div id="message" class="reveal-modal medium open" data-reveal="" style="visibility: visible; display: block; opacity: 1;">

    <div class="flex-video widescreen vimeo" style="display: block;">
      <%= pluralize(@user.errors.count, 'erro(s)') %> deve(m) ser corrigido(s):
      <% @user.errors.full_messages.each do |message| %>
          <p><%= message %></p>
      <% end %>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>

  <script src="../js/vendor/jquery.js"></script>
  <script src="../js/foundation/foundation.js"></script>
  <script src="../js/foundation/foundation.reveal.js"></script>
  <script> $(document).foundation(); </script>

  <% end %>

  <div class="field">
    <p>
      <%= f.label 'Nome' %>
      <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    </p>
    <p>
    <%= f.label 'Nome de Usuário' %>
    <%= f.text_field :username %>
    </p>
    <p>
    <%= f.label 'Senha' %>
    <%= f.password_field :password %>
    </p>
    <p>
    <%= f.label 'Confirmação de Senha' %>
    <%= f.password_field :password_confirmation %>
    <p><%= f.submit %></p>
  </div>
<% end %>
