<h1>Informações do usuário</h1>

<%= render 'shared/show_flashes' %>


<p> Nome: <%= @user.name %> </p>
<p> Email: <%= @user.email %> </p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>