<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).on( "click", ".button", function() {
    var user = <%= current_user.id %>;
    var proposition = $(".proposition").attr('id');
    var like = $(this).attr('id');
    $(".quiz").load("/quiz .side-nav", {vote: {user_id: user, proposition_id: proposition, 'approved?': like, parliamentarian_id: null}})
  });
</script>

<html lang="en">
  <head>
  </head>
  <body>
    <div class="row">
      <div class="small-12 columns">
        <div class="off-canvas-wrap" data-offcanvas>
          <div class="inner-wrap">
            <div class="large-0 pull-0 columns">
              <nav class="top-bar show-for-medium-up" data-topbar>
                <ul class="title-area">
                  <li class="name">
                    <h1><a href="#">Quiz</a></h1>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="quiz" style="width:100%;height:600px;line-height:3em;padding:20px;float:left">
              <ul class="side-nav">
                <li class="toggle-topbar menu-icon">
                  <% if user_signed_in? %>
                    <% if @proposition_hold.empty? %>
                      <center>
                        <div data-alert class="alert-box info radious">
                          Não há mais proposições para serem votadas. Clique no botão abaixo para ver os resultados.
                        </div>
                        <%= button_to 'Visualizar Perfil de Interesse', interest_profile_index_path, :method => :get, class: "button" %>
                      </center>
                    <% else %>
                      <p class="proposition", id= <%= @proposition.id %>>
                        <%= @proposition.explanation %>
                      </p>
                      <div class="quizbutton" style="position: absolute; left: 30%; top: 150px; display: inlineflex">
                        <table style="background: transparent; border: 0">
                          <tr>
                            <td>
                              <%= button_to 'Aprova', 'javascript:;', class: "button", id: true %>
                            </td>
                            <td>
                              <%= button_to 'Desaprova', 'javascript:;', class: "button", id: false %>
                            </td>
                            <td>
                              <%= button_to 'Pular', 'javascript:;', class: "button", id: "Pular"%>
                            </td>
                          </tr>
                        </table>
                      </div>
                    <% end %>
                  <% else %>
                    Logue-se
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>