<!--<h2 align="center">Entrar</h2>-->
<div class="card" style="margin-left: 400px; margin-right: 400px">
  <h2 align="center"><font face="Candara" color="#808080">Acesse sua conta</font></h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <p><div style="position:absolute; left: 38%" class="small-3 columns">
    <%= f.text_field :username, autofocus: true, placeholder: "Usuário", id: "username" %>
  </div></p>
      <br>
      <br>
    <p><div style="position: absolute; left: 38%" class="small-3 columns">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", id: "password" %>
  </div>
    <br>
    <br><div style="position: absolute; left: 42%" class="small-2 columns">
      <%= f.submit "Entrar", class: "button postfix" %>
  </div><br><br><br>
    </p>
</div>
<% end %>

<div align="center"><%= render "devise/shared/links" %></div>