<script type="text/javascript">
$(document).ready(function () {
var states = document.getElementsByClassName('state_li')
for(var i = 0; i < states.length; i++) {
states[i].addEventListener('click', click_state, false);
}
function get_parliamentarians_per_state(value) { // value = state acronym
$.ajax({
url: "/parliamentarians/parliamentarians_per_state",
type: "GET",
dataType: "json",
data: {"state": value},
success: function (response) {
console.log("sucesso");
},
error: function () {
console.log("erro");
}
});
}
function click_state() {
var value = $(this).text();
get_parliamentarians_per_state(value.trim());
$('#drop1').foundation('dropdown', 'close', $('#drop1'));
}
});
$(document).ready(function () {
var partys = document.getElementsByClassName('party_li')
for(var i = 0; i < partys.length; i++) {
partys[i].addEventListener('click', click_party, false);
}
function get_parliamentarians_per_party(value) { // value = party acronym
$.ajax({
url: "/parliamentarians/parliamentarians_per_party",
type: "GET",
dataType: "json",
data: {"party": value},
success: function (response) {
console.log("sucesso");
},
error: function () {
console.log("erro");
}
});
}
function click_party() {
var value = $(this).text();
get_parliamentarians_per_party(value.trim());
$('#drop2').foundation('dropdown', 'close', $('#drop2'));
}
});
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).on( "click", "#Busca", function() {
$("#scroll_busca").load("/parliamentarians_search #resultado_busca", {search: $("#right-label").val()})
});
</script>
<div class="row">
  <div class="small-12 columns">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <div class="large-0 pull-0 columns">
          <nav class="top-bar show-for-medium-up" data-topbar>
            <dl class="sub-nav">
              <nav class="top-bar show-for-medium-up" data-topbar>
                <ul class="title-area">
                  <li class="name">
                    <h1><a href="#">Perfil Parlamentar</a></h1>
                  </li>
                  <dd><a href="#"><button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Estados &raquo;</button></a></dd>
                  <dd><a href="#"><button data-dropdown="drop2" aria-controls="drop2" aria-expanded="false">Partidos &raquo;</button></a></dd>
                </dl>
                <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                  <ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
                    <div style="height:400px;line-height:3em;overflow:scroll;padding:3px;">
                      <% @ordened_states.each do |p| %>
                      <li> <a class="state_li"> <%= p.state %> </a> </li>
                      <%end%>
                    </ul>
                  </ul>
                  <ul id="drop2" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                    <ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
                      <div style="height:400px;line-height:3em;overflow:scroll;padding:3px;">
                        <% @ordened_partys.each do |p| %>
                        <li> <a class="party_li"> <%= p.party %> </a> </li>
                        <%end%>
                      </ul>
                    </ul>
                  </nav>
                  <%= form_tag 'javascript:;' do %>
                  <div class="row">
                    <div class="small-8">
                      <p><div class="small-8 columns">
                        <%= text_field_tag :search, params[:search], id:"right-label", placeholder: "Nome do Parlamentar" %>
                      </div></p>
                      <div class="small-3 columns">
                        <%= submit_tag "Buscar", :name => nil , class: "button postfix", id: "Busca" %>
                      </div>
                    </div>
                  </div>
                  <%end%>
                  <div style="width:940px;height:800px;line-height:3em;overflow:scroll;padding:5px;", id = "scroll_busca">
                    <div id = "resultado_busca">
                      <% if !params[:search].nil? %>
                      <ul>
                        <% @parliamentarians.each do |p| %>
                        <p>
                        <center><a href="#"<span><img src="<%= p.url_photo %>"/></span></center>
                          <center><b><%= p.name %></b></center>
                          <li><right>Partido: <%= p.party %></right>
                            <li>Estado: <%= p.state %></li>
                            <li>Email: <%= p.email %> </li>
                            <li>Telefone: <%= p.phone %></li>
                            <li>Endereço: Praça dos Três Poderes - Esplanada dos Ministérios, Brasília. Gabinete: <%= p.cabinet %> </li>
                            </p>
                            <%end%>
                          </ul>
                          <%end%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>