<script type="text/javascript">
  $(document).ready(function () {
    var states = document.getElementsByClassName('parliamentarians_state')

    for(var i = 0; i < states.length; i++) {
      states[i].addEventListener('click', click_state, false);
    }

    function get_parliamentarians_per_state(value) { // value = state acronym
      $.ajax({
        url: "/parliamentarians/parliamentarians_per_state",
        type: "GET",
        dataType: "json",
        data: {"id": value},
        success: function (response) {
            parliamentarian_list = document.getElementById('parliamentarian_list');

            parliamentarian_list.innerHTML = ""

            console.log(response)
            for(var i = 0; i < response.length; i++) {
                parliamentarian_list.innerHTML += "<div><ul><p align='center'><span><img src='" + response[i].url_photo + "'></span></p><p align='center'><b><a href='/profile/" + response[i].id +  "'> " + response[i].name + "</a></b></p><li align='left'> Partido: " + response[i].party + "</li><li align='left'>Estado: " + response[i].state + "</ul></div>";
            }
        },
        error: function () {
            parliamentarian_list = document.getElementById('parliamentarian_list');

            parliamentarian_list.innerHTML = "<h3>Erro ao tentar obter parlamentares</h3>"

        }
      });
    }

    function click_state() {
      var value = $(this).text();

      get_parliamentarians_per_state(value.trim());
      $('#drop1').foundation('dropdown', 'close', $('#drop1'));
    }
  });
  $(document).ready(function () {
    var partys = document.getElementsByClassName('parliamentarians_party')

    for(var i = 0; i < partys.length; i++) {
      partys[i].addEventListener('click', click_party, false);
    }

    function get_parliamentarians_per_party(value) { // value = party acronym
      $.ajax({
      url: "/parliamentarians/parliamentarians_per_party",
        type: "GET",
        dataType: "json",
        data: {"id": value},
        success: function (response) {
            parliamentarian_list = document.getElementById('parliamentarian_list');

            parliamentarian_list.innerHTML = ""

            console.log(response)
            for(var i = 0; i < response.length; i++) {
            parliamentarian_list.innerHTML += "<div><ul><p align='center'><span><img src='" + response[i].url_photo + "'></span></p><p align='center'><b><a href='/profile/" + response[i].id +  "'> " + response[i].name + "</a></b></p><li align='left'> Partido: " + response[i].party + "</li><li align='left'>Estado: " + response[i].state + "</ul></div>";
            }
        },
        error: function () {
            parliamentarian_list = document.getElementById('parliamentarian_list');

            parliamentarian_list.innerHTML = "<h3>Erro ao tentar obter parlamentares</h3>"

            }
      });
    }

    function click_party() {
      var value = $(this).text();

      get_parliamentarians_per_party(value.trim());
      $('#drop2').foundation('dropdown', 'close', $('#drop2'));
    }
  });
</script>
<div class="row">
  <div class="small-12 columns">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <div class="large-0 pull-0 columns">
          <nav class="top-bar show-for-medium-up" data-topbar>
            <ul class="title-area">
              <li class="name">
                <h1><a href="#">Perfil Parlamentar</a></h1>
              </li>
          </nav>
            <dl class="sub-nav">
              <p><dd><button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Estados &raquo;</button></dd>
              <dd><button data-dropdown="drop2" aria-controls="drop2" aria-expanded="false">Partidos &raquo;</button></dd>
              <%= form_tag parliamentarians_path, method: :get do %>
                <div class="small-5 columns">
                  <%= text_field_tag :search, params[:search], id:"right-label", placeholder: "Nome do Parlamentar" %>
                </div>
                <div class="small-3 columns">
                  <button name="Buscar" type="submit" class="button postfix">Buscar</button>
                </div></p>
              <%end%>
            </dl>
          <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            <ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
            <div style="height:400px;line-height:3em;overflow:scroll;padding:3px;">
              <% @ordened_states.each do |p| %>
                <li> <a class="parliamentarians_state"> <%= p.state %> </a> </li>
              <%end%>
            </ul>
          </ul>
          <ul id="drop2" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            <ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
            <div style="height:400px;line-height:3em;overflow:scroll;padding:3px;">
              <% @ordened_partys.each do |p| %>
                <li> <a class="parliamentarians_party"> <%= p.party %> </a> </li>
              <%end%>
            </ul>
          </ul>
          <div id="parliamentarian_list" style="width:940px;height:800px;line-height:3em;overflow:scroll;padding:5px;">
            <div>
              <% if !params[:search].blank? %>
                <ul>
                <% @parliamentarians.each do |p| %>
                  <p align="center"><span><img src="<%= p.url_photo %>"/></span></p>
                  <p align="center"><b><%= link_to p.name, profile_path(p)%></b></p>
                  <li align="left">Partido: <%= p.party %></li>
                <%end%>
                </ul>
              <%end%>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
