<p>
  <p align="center"><img src="<%= p.url_photo %>"/></p>
  <p align="center"><b><%= p.name %></b></p>
  <li>Partido: <%= p.party %></li>
  <li>Estado: <%= p.state %></li>
  <li>Email: <%= p.email %> </li>
  <li>Telefone: <%= p.phone %></li>
  <li>Endereço: Praça dos Três Poderes - Esplanada dos Ministérios, Brasília. Gabinete: <%= p.cabinet %> </li>
</p>