<p align="center"><img src="<%= p.url_photo %>"/></p>
<ul class="pricing-table">
  <li class="title"><%= p.name %></li>
  <li class="price">Partido: <%= p.party %></li>
  <li class="description">Estado: <%= p.state %></li>
  <li class="bullet-item">Email: <%= p.email %></li>
  <li class="bullet-item">Telefone: <%= p.phone %></li>
  <li class="bullet-item">Endereço: Praça dos Três Poderes - Esplanada dos Ministérios, Brasília. Gabinete: <%= p.cabinet %></li>
</ul>