<p>
  <% p = @parliamentarian %>
  <% @prop_parliamentarian = propositions_parliamentarians(p.id) %>
  <center><img src="<%= p.url_photo %>"/></center>
  <center><b><%= p.name %></b></center>
  <li><right>Partido: <%= p.party %></right>
  <li>Estado: <%= p.state %></li>
  <li>Email: <%= p.email %> </li>
  <li>Telefone: <%= p.phone %></li>
  <li>Endereço: Praça dos Três Poderes - Esplanada dos Ministérios, Brasília. Gabinete: <%= p.cabinet %> </li>
    <% if @prop_parliamentarian.count == 0 %>
        <li> O parlamentar náo possui proposicoes.</li>
    <% end %>
    <% else %>
  <% @prop_parliamentarian.each do |pro| %>
        <p>
        <li>>Número: <%= pro.number %></li>
        <li>>Ano: <%= pro.year %></li>
        <li>>Tipo: <%= pro.proposition_types %></li>
        <li>>Emenda: <%= pro.amendment %></li>
        <li>>Proposta: <%= pro.explanation %></li>
        </p>
  <% end %>

</p>