<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="widessionsth=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Espelho Político" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar foundation-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
         <span data-tooltip class="has-tip"><h1 class="show-for-small-only"><a href="#"><%= link_to 'Espelho Político', root_url %></a></h1></span>
         <span data-tooltip class="has-tip"><h1 class="show-for-medium-only"><a href="#"><%= link_to 'Espelho Político', root_url %></a></h1></span>
         <span data-tooltip class="has-tip"><h1 class="show-for-large-only"><a href="#"><%= link_to 'Espelho Político', root_url %></a></h1></span>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a  target="_blank"><%= link_to 'Início', root_url %></a></li>
        <li class="active"><a  target="_blank"><%= link_to 'Perfil Parlamentar', parliamentarians_path %></a></li>
        <li class="active"><a  target="_blank"><%= link_to 'Rankings', rankings_path %></a></li>
        <li class="active"><a target="_blank">Quiz</a></li>
        <li class="active"><a target="_blank">Sobre</a></li>
        <% if signed_in? %>
          <li class="active"><a  target="_blank"><%= link_to 'Perfil', current_user %></a></li>
          <li class="active"><a  target="_blank"><%= link_to 'Sair', signout_path,  method: 'delete' %></a></li>
        <% else %>
          <li class="active"><a  target="_blank"><%= link_to 'Entrar', signin_path %></a></li>
          <li class="active"><a  target="_blank"><%= link_to 'Cadastrar', signup_path %></a></li>
        <% end %>
      </ul>
    </section>
  </nav>
  <div class="row">
        <div class="large-12 columns">
            <h2><center><img src="http://i60.tinypic.com/15s0w03.jpg"/></center></h2> 
            <hr />
       </div>
    </div>
 <%= yield %>
    <%= javascript_include_tag "application" %>
   
  </body>

</html>